<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>图片管理</title>
    <link rel="stylesheet" th:href="@{/adminStatic/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/adminStatic/css/bootstrap-maizi.css}"/>
    <link rel="stylesheet" th:href="@{/adminStatic/css/content-style.css}"/>
</head>
<body>
<!-- 导航 调用模块-->
<div th:replace="~{admin/commons::head(active='bingImage')}"></div>
<!-- 主体 -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <table class="table table-bordered" style="text-align: center">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>图片介绍</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="panel-footer" style="text-align: center">
                    <!--分页控件-->
                    <ul id="paginator"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 主体 -->


<!--删除模态框-->
<div>
    <div class="modal fade" id="deleteModel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">是否删除图片</h4>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body" id="title">
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                    <a id="strikeOut" type="button" class="btn btn-danger">确定</a>
                </div>

            </div>
        </div>
    </div>
</div>

<!--页脚-->
<div th:replace="~{admin/commons::footer}"></div>

</body>
<script th:src="@{/adminStatic/js/jquery.js}"></script>
<script th:src="@{/adminStatic/js/bootstrap.min.js}"></script>
<script th:src="@{/adminStatic/js/plugins/pagination/bootstrap-paginator.js}"></script>
<script>

    $.post(
        "/admin/bingImage/findAll",
        {
            "pageNum":1,
        },
        function (data) {
            dataRendering(data.list);
            initPagination(data.pageNum,data.pages);
        },
        "json"
    );

    function dataRendering(data) {
        $("tbody").empty();
        $.each(data,function (i,b) {
            $("tbody").append('<tr>' +
                '<td>'+(i+1)+'</td>' +
                '<td>'+b.bname+'</td>' +
                '<td>' +
                '<a target="view_window" href="'+b.burl+'"><i class="glyphicon glyphicon-eye-open"></i> 查看</a>' +
                '<a onclick="deleteLinks('+b.bid+',\''+b.bname+'\')"><i class="glyphicon glyphicon-remove"></i> 删除</a>' +
                '</td>' +
                '</tr>');
        });
    }

    /**
     * 初始化分页控件
     */
    function initPagination(pageNum,pages,){
        $('#paginator').bootstrapPaginator({

            bootstrapMajorVersion: 3,//bootstrap版本

            alignment:"center",//设置控件的对齐方式

            currentPage: pageNum,//当前页码

            numberOfPages: 10,//设置显示的页码数

            totalPages: pages,//总页数（后台传过来的数据）


            itemTexts: function (type, page, current) {

                switch (type) {

                    case "first": return "首页";

                    case "prev": return "上一页";

                    case "next": return "下一页";

                    case "last": return "末页";

                    case "page": return page;

                }

            },//改写分页按钮字样
            onPageClicked: function (event, originalEvent, type, page) {
                $.post(
                    "/admin/bingImage/findAll",
                    {
                        "pageNum":page,
                    },
                    function (data) {
                        dataRendering(data.list);
                    },
                    "json"
                );
            }
        });
    }

    function deleteLinks(bid,bname) {
        $("#title").html(bname);
        $("#strikeOut").attr("href","/admin/bingImage/delete/"+bid);
        //调用模态框
        $("#deleteModel").modal({backdrop: 'static', keyboard: false});
    }

</script>
</html>