<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- libs css-->
    <link rel="stylesheet" th:href="@{/reception/css/tool.css}">
    <link rel="stylesheet" th:href="@{/reception/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/reception/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/reception/css/style.css}">
    <link rel="stylesheet" th:href="@{/reception/css/media.css}">
</head>
<body>

<!-- 导航 调用模块-->
<div th:replace="~{reception/commons::head(data='index')}"></div>

<t></t>
<!-- 内容 -->
<div class="content container">
    <!-- 文章 -->
    <div class="love2">
        <div class="left">
            <ul class="list row list-hen" id="article">
                <li class="title title-lv" id="title">
                    <i class="iconfont">&#xe62c;</i>文章列表
                </li>
            </ul>

            <div class="panel-footer" style="text-align: center">
                <!--分页控件-->
                <ul id="paginator"></ul>
            </div>
        </div>
        <!-- 侧边 调用模块-->
        <div th:replace="~{reception/commons::side(data='index')}"></div>
    </div>
</div>

<!-- 页脚 调用模块-->
<div th:replace="~{reception/commons::footer}"></div>
<!-- 回顶 调用模块-->
<div th:replace="~{reception/commons::gotoTop}"></div>

</body>
<script th:src="@{/reception/js/jquery-3.4.1.js}"></script>
<script th:src="@{/reception/js/bootstrap.js}"></script>
<script th:src="@{/reception/js/bootstrap-paginator.js}"></script>
<script th:src="@{/editormd/lib/marked.min.js}"></script>
<script th:src="@{/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/editormd/lib/raphael.min.js}"></script>
<script th:src="@{/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/editormd/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/editormd/editormd.js}"></script>
<script th:src="@{/reception/js/style.js}"></script>
<script th:src="@{/reception/js/base.js}"></script>

<script>

    $.post(
        "/article/findAllByState",
        {
            "pageNum":1
        },
        function (data) {
            dataRendering(data.list);
            initPagination(data.pageNum,data.pages,"findAllByState",0);
        },
        "json"
    );


</script>
</html>