<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zh.mapper.TagMapper">

    <select id="findAll" resultType="Tag">
        select * from blog.tag
    </select>

    <insert id="addTag" parameterType="Tag">
        insert into blog.tag (tname) values (#{tname});
    </insert>

    <update id="updateTag" parameterType="Tag">
        update blog.tag set tname = #{tname} where tid = #{tid};
    </update>

    <delete id="deleteTag" parameterType="int">
        delete from blog.tag where tid = #{tid}
    </delete>
</mapper>